{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<title>Contact</title>
<script src="{% static "js/contact.js" %}"></script>
{% endblock %}


{% block current-contact %}current{% endblock %}
{% block position %}2{% endblock %}


{% block content %}

<div class="contact">
    <div class="contact-section">
        <p class="text">You can find me on the {{ term }}</p>

        <div class="links">
            {% for link in links %}
                <a class="link button" title="{{ link.title }}" target="_blank" href="{{ link.url }}" style="background-color: {{ link.color }}">
                    <img class="image" src="{% static link.image %}"></img>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="contact-section">
        <p class="text">Or, you can contact me directly</p>

        <form class="contact-form" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ contact_form }}
            <button class="button">
                <img src="{% static "svg/check.svg" %}">
                <span>Send</span>
            </button>
        </form>
    </div>
</div>

{% endblock %}
