{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<title>Contact</title>
<link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}">
{% endblock %}


{% block current-contact %}current{% endblock %}


{% block content %}

<div class="contact">
    <div class="contact-section">
        <p class="text">You can find me on the {{ term }}</p>

        <div class="links">
            {% for link in links %}
                <a class="link button" title="{{ link.title }}" target="_blank" href="{{ link.url }}" style="background-color: {{ link.color }}">
                    <img class="image" src="{% static link.img %}"></img>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="contact-section">
        <p class="text">Or, you can contact me directly</p>

        <form class="contact-form" action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ contact_form }}
            <input class="button" type="submit" value="Send" />
        </form>
    </div>
</div>

{% endblock %}
