$contact-width: 600px;
$contact-input-width: 36px;
$wide: "(min-width: " + ($contact-width + $buffer) + ")";
$narrow: "(max-width: " + ($contact-width + $buffer) + ")";

.contact {
    display: flex;
    flex-direction: column;
    max-width: $contact-width;
    margin: auto;

    @media #{$wide} { align-items: center; }
    @media #{$narrow} { align-items: stretch; }

    .contact-section {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 4px;
        background-color: rgba(#FFFFFF, 0.6);

        .text {
            display: block;
            margin-bottom: 20px;
            font-size: 1.5em;
            line-height: 1.25em;
            text-align: center;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .link {
                height: 64px;
                width: 64px;
                border-radius: 4px;

                & + .link { margin-left: 10px; }
            }
        }

        .contact-form {
            * {
                height: $contact-input-width;
                border-style: none;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 1.25em;
                font-family: Base;
                outline: none;
            }

            .contact-input {
                padding: 8px;
                margin: 4px 0;
                background-color: rgba(#FFFFFF, 0.6);
                transition: background-color 0.25s ease;

                @include placeholder {
                    color: #B0B0B0;
                    font-family: Base;
                    text-transform: uppercase;
                    text-align: center;
                    opacity: 1;
                }

                &:focus {
                    background-color: rgba(#808080, 0.6);
                    color: #FFFFFF;

                    @include placeholder {
                        color: #FFFFFF;
                    }
                }

                &:disabled {
                    background-color:  rgba(#FFFFFF, 0.3);
                }
            }

            .name, .email {
                @media #{$wide} { width: calc(50% - 4px); }
                @media #{$narrow} { width: 100%; }
            }

            .email {
                @media #{$wide} { float: right; };
            }

            .subject, .message {
                width: 100%;
            }

            .message {
                height: 300px;
                resize: none;
            }

            .button {
                display: block;
                margin: 10px auto 0 auto;
                padding: 0 24px;
                background-color: rgba(#FFFFFF, 0.6);

                * {
                    transition: opacity 0.25s ease;
                    margin: auto;
                    display: block;
                }

                img { opacity: 0; }

                span {
                    opacity: 1;
                    margin-top: -$contact-input-width;
                    line-height: $contact-input-width;
                }

                &.sent {
                    img { opacity: 1; }
                    span { opacity: 0; }
                }
            }
        }
    }
}
