html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
  color: black; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Aquatico';
  src: url("/static/font/Aquatico-Regular.otf"); }
body {
  overflow-y: scroll; }

#background {
  position: fixed;
  z-index: -10; }

.header {
  width: 480px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.6); }
  .header .sections {
    display: flex;
    flex-direction: row;
    height: 48px; }
    .header .sections .section {
      flex: 1;
      display: flex;
      text-decoration: none;
      transition: transform 0.25s ease; }
      .header .sections .section.current {
        font-weight: bold; }
        body.js .header .sections .section.current {
          transform: translateY(-3px); }
        body:not(.js) .header .sections .section.current {
          border-style: solid;
          border-bottom-width: 3px; }
      .header .sections .section span {
        margin: auto;
        font-size: 1.25em;
        font-family: Aquatico; }
        .header .sections .section span em {
          font-size: 1.25em;
          font-family: Aquatico; }
  body.js .header #current {
    position: absolute;
    top: 45px;
    width: 160px;
    height: 3px;
    background-color: #000000; }
    body.js .header #current:not(.notransition) {
      transition: transform 0.25s ease; }

.content {
  transition: transform 0.25s ease, opacity 0.25s ease; }
  .content.hidden {
    transform: translateY(25px);
    opacity: 0; }

.button {
  transition: background-color 0.1s ease, opacity 0.1s ease;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .button:active {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.75; }

.markdown {
  line-height: 1.5em; }
  .markdown *:first-child {
    margin-top: 0; }
  .markdown *:last-child {
    margin-bottom: 0; }
  .markdown p {
    margin: 0.5em 0; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: bold;
    margin: 1em 0 0.5em 0; }
  .markdown h1 {
    font-size: 1.75em; }
  .markdown h2 {
    font-size: 1.5em; }
  .markdown h3 {
    font-size: 1.25em; }
  .markdown h4 {
    font-size: 1em; }
  .markdown h5 {
    font-size: 0.9em; }
  .markdown h6 {
    font-size: 0.75em; }
  .markdown ul, .markdown ol {
    padding-left: 2em; }
  .markdown ul {
    list-style-type: disc; }
  .markdown ol {
    list-style-type: decimal; }
  .markdown code {
    font-family: monospace; }
  .markdown pre {
    white-space: pre-wrap;
    line-height: 1.1em; }
  .markdown blockquote {
    padding: 0 1em;
    border-left: 4px solid #D0D0D0; }
  .markdown em {
    font-style: italic; }
  .markdown strong {
    font-weight: bold; }
  .markdown hr {
    border: 0;
    margin: 1em 0;
    border-top: 2px solid #D0D0D0; }

.notransition {
  transition: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: sans-serif;
  vertical-align: baseline;
  color: black; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Aquatico';
  src: url("/static/font/Aquatico-Regular.otf"); }
body {
  overflow-y: scroll; }

#background {
  position: fixed;
  z-index: -10; }

.header {
  width: 480px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(255, 255, 255, 0.6); }
  .header .sections {
    display: flex;
    flex-direction: row;
    height: 48px; }
    .header .sections .section {
      flex: 1;
      display: flex;
      text-decoration: none;
      transition: transform 0.25s ease; }
      .header .sections .section.current {
        font-weight: bold; }
        body.js .header .sections .section.current {
          transform: translateY(-3px); }
        body:not(.js) .header .sections .section.current {
          border-style: solid;
          border-bottom-width: 3px; }
      .header .sections .section span {
        margin: auto;
        font-size: 1.25em;
        font-family: Aquatico; }
        .header .sections .section span em {
          font-size: 1.25em;
          font-family: Aquatico; }
  body.js .header #current {
    position: absolute;
    top: 45px;
    width: 160px;
    height: 3px;
    background-color: #000000; }
    body.js .header #current:not(.notransition) {
      transition: transform 0.25s ease; }

.content {
  transition: transform 0.25s ease, opacity 0.25s ease; }
  .content.hidden {
    transform: translateY(25px);
    opacity: 0; }

.button {
  transition: background-color 0.1s ease, opacity 0.1s ease;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer; }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .button:active {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.75; }

.markdown {
  line-height: 1.5em; }
  .markdown *:first-child {
    margin-top: 0; }
  .markdown *:last-child {
    margin-bottom: 0; }
  .markdown p {
    margin: 0.5em 0; }
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: bold;
    margin: 1em 0 0.5em 0; }
  .markdown h1 {
    font-size: 1.75em; }
  .markdown h2 {
    font-size: 1.5em; }
  .markdown h3 {
    font-size: 1.25em; }
  .markdown h4 {
    font-size: 1em; }
  .markdown h5 {
    font-size: 0.9em; }
  .markdown h6 {
    font-size: 0.75em; }
  .markdown ul, .markdown ol {
    padding-left: 2em; }
  .markdown ul {
    list-style-type: disc; }
  .markdown ol {
    list-style-type: decimal; }
  .markdown code {
    font-family: monospace; }
  .markdown pre {
    white-space: pre-wrap;
    line-height: 1.1em; }
  .markdown blockquote {
    padding: 0 1em;
    border-left: 4px solid #D0D0D0; }
  .markdown em {
    font-style: italic; }
  .markdown strong {
    font-weight: bold; }
  .markdown hr {
    border: 0;
    margin: 1em 0;
    border-top: 2px solid #D0D0D0; }

.notransition {
  transition: none; }

.project-detail {
  height: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .project-detail .title {
    font-size: 2em;
    font-weight: bold; }
  .project-detail .images {
    height: 200px;
    margin: 20px 0;
    position: relative;
    display: flex;
    transition: left 0.5s ease; }
    .project-detail .images .image {
      margin: 0 10px;
      cursor: pointer;
      transition: box-shadow 0.1s ease; }
      .project-detail .images .image img {
        height: 200px; }
      .project-detail .images .image:first-child {
        margin-left: 0; }
      .project-detail .images .image:last-child {
        margin-right: 0; }
      .project-detail .images .image:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
  .project-detail .description {
    overflow-y: auto; }
  .project-detail .links {
    display: flex;
    margin-top: 20px; }
    .project-detail .links .link {
      padding: 10px;
      margin: 0 10px;
      text-decoration: none;
      color: none;
      border-radius: 4px; }
      .project-detail .links .link:first-child {
        margin-left: 0; }
      .project-detail .links .link:last-child {
        margin-right: 0; }
  .project-detail .view-image {
    position: fixed;
    display: flex;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s ease;
    visibility: hidden;
    opacity: 0;
    pointer-events: none; }
    .project-detail .view-image.active {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }
    .project-detail .view-image img {
      margin: auto;
      height: initial;
      width: initial;
      max-height: 100%;
      max-width: 100%;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.75); }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 880px; }
  .projects .project {
    width: 200px;
    height: 365px;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 10px 20px 10px;
    border-radius: 4px; }
    .projects .project .image {
      width: 100%;
      height: 200px;
      object-fit: cover; }
    .projects .project .title {
      margin: 10px 10px 5px 10px;
      font-size: 14pt;
      font-weight: bold; }
    .projects .project .description {
      margin: 0 10px 10px 10px;
      overflow: hidden;
      flex: 1;
      line-height: 1.25em; }

.project-detail-container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }
  .project-detail-container.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }

/*# sourceMappingURL=projects.css.map */
