{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "js/section_switch.js" %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="header">
        <ul class="sections">
            <a class="section {% block current-projects %}{% endblock %}" href="{% url 'projects' %}"><span><em>P</em>rojects</span></a>
            <a href="{% url 'about' %}" class="section {% block current-about %}{% endblock %}"><span><em>A</em>bout</span></a>
            <a href="{% url 'contact' %}" class="section {% block current-contact %}{% endblock %}"><span><em>C</em>ontact</span></a>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
