{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Default Title</title>
    {% endblock %}
</head>

<body>
    <div class="header">
        <ul class="sections">
            <a class="section {% block current-projects %}{% endblock %}" href="{% url 'projects' %}"><span><em>P</em>rojects</span></a>
            <a class="section {% block current-about %}{% endblock %}"><span><em>A</em>bout</span></a>
            <a class="section {% block current-contact %}{% endblock %}"><span><em>C</em>ontact</span></a>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
