{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static "js/triangles.js" %}"></script>
    <script src="{% static "js/page.js" %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <canvas id="background"></canvas>

    <embed id="logo" src="{% static "svg/signature.svg" %}">

    <div class="header">
        <ul class="sections" colors="[{stop: 0, color: '#AF8DC3'}, {stop: 0.5, color: '#F7F7F7'}, {stop: 1, color: '#7FBF7B'}]">
            <a title="Projects" class="section {% block current-projects %}{% endblock %}" href="{% url 'projects' %}" colors="[{stop: 0, color: '#B0E8FF'}, {stop: 1, color: '#005A34'}]"><span><em>P</em>rojects</span></a>
            <a title="About" class="section {% block current-about %}{% endblock %}" href="{% url 'about' %}" colors="[{stop: 0, color: '#BDFF9C'}, {stop: 1, color: '#41C200'}]"><span><em>A</em>bout</span></a>
            <a title="Contact" class="section {% block current-contact %}{% endblock %}" href="{% url 'contact' %}" colors="[{stop: 0, color: '#FFB0FC'}, {stop: 1, color: '#C900C3'}]"><span><em>C</em>ontact</span></a>
        </ul>

        <div id="current"></div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
