@import 'reset';

$header-length: 500px;
$header-height: 48px;;

@font-face {
    font-family: 'Aquatico';
    src: url('/static/font/Aquatico-Regular.otf');
}

.header {
    width: $header-length;
    margin: 0 auto 20px auto;

    .sections {
        display: flex;
        flex-direction: row;
        height: $header-height;

        .section {
            flex: 1;
            display: flex;
            text-decoration: none;

            &.current {
                border-style: solid;
                border-bottom-width: 3px;
                font-weight: bold;
            }

            span {
                margin: auto;
                transition: transform 0.25s ease;
                font-size: 1.25em;
                font-family: Aquatico;

                em {
                    font-size: 1.25em;
                    font-family: Aquatico;
                }
            }

            &:hover > span { transform: translateY(-4px); }
        }
    }
}

.content {
    max-width: 800px;
    margin: auto;
}

.button {
    transition: box-shadow 0.1s ease, transform 0.1s ease, background-color 0.1s ease;

    background-color: #D0D0D0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    &:hover {
        transform: translateY(-1px);
        background-color: #F0F0F0;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75);
    }

    &:active {
        transform: translateY(2px);
        background-color: #C0C0C0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    }
}

.markdown {
    line-height: 1.5em;
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
    p { margin: 0.5em 0; }
    h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 1em 0 0.5em 0; }
    h1 { font-size: 1.75em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.9em; }
    h6 { font-size: 0.75em; }
    ul, ol { padding-left: 2em; }
    ul { list-style-type: disc; }
    ol { list-style-type: decimal; }
    code { font-family: monospace; }
    pre { white-space: pre-wrap; line-height: 1.1em; }
    blockquote { padding: 0 1em; border-left: 4px solid #D0D0D0; }
    em { font-style: italic; }
    strong { font-weight: bold; }
    hr { border: 0; margin: 1em 0; border-top: 2px solid #D0D0D0; }
}


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} { @content; }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content; }
}
