@import 'reset';

$header-width: 480px;
$logo-height: 256px;
$body-padding: 20px;
$buffer: ($body-padding * 2) + 30px;
$wide: "(min-width: " + $header-width + ")";
$narrow: "(max-width: " + $header-width + ")";


@font-face {
    font-family: 'Base';
    src: url('/static/font/Kreon-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Base';
    src: url('/static/font/Kreon-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/font/Montserrat-Light.otf');
    font-weight: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('/static/font/Montserrat-Regular.otf');
    font-weight: bold;
}


body {
    overflow-y: scroll;
    padding: 0 $body-padding;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.header {
    max-width: $header-width;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(to bottom,
                                rgba(#FFFFFF, 0.2) 0%,
                                rgba(#FFFFFF, 0.6) 100%);

    .logo-first {
        display: block;
        position: relative;
        height: 64px;
        max-width: 100%;
        margin: 0 auto 0 auto;
        padding: 10px 0;
        transition: height 0.25s ease, left 0.25s ease;
        left: -65px;

        @keyframes draw-path {
            from { stroke-dashoffset: -4000px; }
            to { stroke-dashoffset: 0px; }
        }

        @keyframes draw-dot {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        path {
            transition: stroke-width 0.25s ease;
            stroke-width: 15px;
            stroke-dasharray: 4001;
            animation: 2s ease-out 0s draw-path;
        }

        circle {
            transition: stroke-width 0.25s ease;
            stroke-width: 5px;
            opacity: 0;
            animation: 0.25s linear 2s draw-dot;
            animation-fill-mode: forwards;
        }
    }

    .section.current .logo-first {
        height: $logo-height;
        left: 0;

        path { stroke-width: 10px; }
        circle { stroke-width: 0px; }
    }

    .logo-last {
        position: absolute;
        transition: top 0.25s ease, left 0.25s ease, font-size 0.25s ease;
        top: 28px;
        left: calc(50% - 15px);
        font-size: 1.5em;
        opacity: 0;
        animation: 0.25s linear 2.25s draw-name;
        animation-fill-mode: forwards;
        font-family: Base;
        font-weight: bold;

        @keyframes draw-name {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    }

    .section.current .logo-last {
        top: $logo-height * 0.75;
        left: calc(50% - 50px);
        font-size: 2.25em;
    }

    .sections {
        display: flex;
        height: 48px;

        .section {
            flex: 1;
            display: flex;
            text-decoration: none;
            transition: transform 0.25s ease;

            &.current {
                font-weight: bold;

                body.js & { transform: translateY(-3px) };

                body:not(.js) & {
                    border-style: solid;
                    border-bottom-width: 3px;
                }
            }

            span {
                margin: auto;
                font-family: Montserrat;
                text-transform: uppercase;

                @media #{$wide} { font-size: 1.25em; }
                @media #{$narrow} { font-size: 1em; }

                em {
                    font-size: 1.25em;
                    font-family: Montserrat;
                }
            }
        }
    }

    body.js & #current {
        position: relative;
        width: $header-width / 3;
        height: 3px;
        background-color: #000000;
        transition: transform 0.25s ease, opacity 0.25s ease;
    }
}

.content {
    transition: transform 0.25s ease, opacity 0.25s ease;

    &.hidden { transform: translateY(25px); }
}

.button {
    transition: background-color 0.1s ease, opacity 0.1s ease;
    opacity: 1;
    cursor: pointer;
    font-weight: bold;

    &:hover { opacity: 0.9; }
    &:active { opacity: 0.75; }
}

.markdown {
    line-height: 1.5em;
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
    p { margin: 0.5em 0; }
    h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: 1em 0 0.5em 0; }
    h1 { font-size: 1.75em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.9em; }
    h6 { font-size: 0.75em; }
    ul, ol { padding-left: 2em; }
    ul { list-style-type: disc; }
    ol { list-style-type: decimal; }
    code { font-family: monospace; }
    pre { white-space: pre-wrap; line-height: 1.1em; }
    blockquote { padding: 0 1em; border-left: 4px solid #D0D0D0; }
    em { font-style: italic; }
    strong { font-weight: bold; }
    hr { border: 0; margin: 1em 0; border-top: 2px solid #D0D0D0; }
}

.notransition {
    transition: none!important;
}

.js .hidden {
    opacity: 0!important;
}


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} { @content; }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content; }
}
