{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<title>About</title>
<link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">
{% endblock %}


{% block current-about %}current{% endblock %}


{% block content %}

<div class="about">
    <div class="about-section">
        <img class="image" src="{% static "svg/face.svg" %}"></img>
        <div class="text">I'm a {{ age }} year old software developer with a passion for clean code and clean design.</div>
    </div>
    <div class="about-section">
        <div class="text">I enjoy working with Javascript, Python, CSS, Javascript, and many more.</div>
        <img class="image" src="{% static "svg/logos.svg" %}"></img>
    </div>
    <div class="about-section">
        <img class="image" src="{% static "svg/derryberry.svg" %}"></img>
        <div class="text">I graduated from <a target="_blank" href="https://www.tntech.edu/">Tennessee Technological University</a> in the Spring of 2015 with a Bachelor's Degree in Computer Science.</div>
    </div>
    <div class="about-section">
        <div class="text">I am currently working as an Implementation Consultant at <a target="_blank" href="http://www.fastenterprises.com/">FAST Enterprises</a>.</div>
        <img class="image" src="{% static "svg/fast.svg" %}"></img>
    </div>

</div>

{% endblock %}
