@import 'base';

$image-height: 200px;
$project-detail-width: 600px;

$tall: "(min-height: " + $image-height * 4 + ")";
$short: "(max-height: " + $image-height * 4 ")";

.project-detail {
    height: 100%;
    max-width: $project-detail-width;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .heading {
        display: flex;

        .title {
            font-size: 2em;
            font-weight: bold;
            flex: 1;
        }

        .close {
            height: 32px;
            width: 32px;
            cursor: pointer;

            path {
                stroke-width: 4px;
                transition: stroke-width 0.1s ease;
            }

            &:hover path { stroke-width: 6px; }
        }
    }

    .images {
        margin: 20px 0;
        position: relative;
        display: flex;

        @media #{$tall} { height: $image-height; }
        @media #{$short} { height: 20vh; }

        transition: left 0.5s ease;

        .image {
            margin: 0 10px;
            cursor: pointer;
            transition: box-shadow 0.1s ease;

            img {
                @media #{$tall} { height: $image-height; }
                @media #{$short} { height: 20vh; }
            }

            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }

            &:hover { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
        }
    }

    .description {
        overflow-y: auto;
    }

    .links {
        display: flex;
        margin-top: 20px;

        .link {
            padding: 10px;
            margin: 0 10px;
            text-decoration: none;
            color: none;
            border-radius: 4px;
            background-color: rgba(#B0B0B0, 0.6);

            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
    }

    .view-image {
        position: fixed;
        display: flex;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.25s ease;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        &.active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }

        img {
            margin: auto;
            height: initial;
            width: initial;
            max-height: 100%;
            max-width: 100%;
            cursor: pointer;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.75);
        }
    }
}
