@import 'base';
@import 'project_detail';

$project-width: 200px;
$project-height: 365px;
$project-margin: 20px;
$project-image-height: 200px;
$projects-width: ($project-width + $project-margin) * 4;
$wide: "(min-width: " + $projects-width + ")";
$narrow: "(max-width: " + $projects-width + ")";

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: $projects-width;

    .project {
        height: $project-height;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin: 0 ($project-margin / 2) $project-margin ($project-margin / 2);
        border-radius: 4px;
        background-color: rgba(#FFFFFF, 0.6);

        @media #{$wide} { flex: 0 1 $project-width; }
        @media #{$narrow} { flex: 1 1 calc(50% - #{$project-margin}); }

        .image {
            height: $project-image-height;
            background-size: cover;
            background-position: 50% 50%;
        }

        .title {
            margin: 20px 20px 10px 20px;
            font-size: 14pt;
            font-weight: bold;
        }

        .description {
            margin: 0 20px 20px 20px;
            overflow: hidden;
            flex: 1;
            line-height: 1.25em;
            font-weight: normal;

            a {
                text-decoration: none;
                pointer-events: none;
            }
        }
    }
}

.project-detail-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s ease;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}
