{% load staticfiles %}

<div class="project-detail" project-id="{{ project.id }}">
    <div class="heading">
        <h2 class="title">{{ project.title }}</h2>
        <svg class="close" viewBox="0 0 32 32">
            <path d="m5 27 22-22" style="stroke:#000;stroke-linecap:round"/>
            <path d="m27 27-22-22" style="stroke:#000;stroke-linecap:round"/>
        </svg>
    </div>
    <ul class="images" active-image="0">
    {% for image in project.images.all %}
        <li class="image"><img src="{{ MEDIA_URL }}{{ image.image }}"></li>
    {% endfor %}
    </ul>
    <div class="description markdown nano">
        <div class="nano-content">
            {{ project.description_html|safe }}
        </div>
    </div>
    <div class="links">
        {% for link in project.links.all %}
        <a class="link button" target="_blank" href="{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
    </div>
    <div class="view-image">
        <img>
    </div>
</div>
