{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>Projects</title>
<script src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<script src="{% static "js/project.js" %}"></script>
<script src="{% static "js/project_detail.js" %}"></script>
{% endblock %}


{% block current-projects %}current{% endblock %}
{% block position %}0{% endblock %}


{% block content %}

<ul class="projects">
{% for project in projects %}
    <li class="project button" project-id="{{ project.id }}">
        <div class="image" style="background-image: url({{ MEDIA_URL }}{{ project.images.all.0.image }});"></div>
        <h2 class="title">{{ project.title }}</h2>
        <div class="description">{{ project.description_html|safe }}</div>
    </li>
{% endfor %}
</ul>

<div class="project-detail-container"></div>

{% endblock %}
