@import 'base';

.about {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: 24px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(#FFFFFF, 0.6);

    .about-section {
        display: table;
        flex-direction: row;
        height: 150px;
        margin-top: 24px;

        .text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            line-height: 1.25em;
            font-size: 1.75em;
        }

        .image {
            width: 350px;
        }
    }

    .about-section:nth-child(odd) {
        .text { padding-left: 24px; }
    }

    .about-section:nth-child(even) {
        .text { padding-right: 24px; }
    }
}
