@import 'base';

$about-width: 800px;
$wide: "(min-width: " + $about-width + ")";
$narrow: "(max-width: " + $about-width + ")";

.about {
    display: flex;
    flex-direction: column;
    max-width: $about-width;
    margin: auto;
    padding: 24px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(#FFFFFF, 0.6);

    .about-section {
        display: flex;
        margin-top: 24px;
        align-items: center;

        .text {
            vertical-align: middle;
            text-align: center;
            line-height: 1.25em;
            font-size: 1.75em;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }

        .image {
            @media #{$wide} { width: 350px; }

            @media #{$narrow} {
                width: 80%;
                margin-bottom: 12px;
            }
        }

        @media #{$narrow} { flex-direction: column; }

        @media #{$wide} {
            &:nth-child(odd) {
                flex-direction: row;

                .text { padding-left: 24px; }
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                .text { padding-right: 24px; }
            }
        }

    }
}
